@if (Peliculas is null)
{
    <img alt="Cargando"
         src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fc.tenor.com%2F0iK9a1WkT40AAAAM%2Floading-white.gif&f=1&nofb=1&ipt=b137ae5f0f0bfe90db0026fe93d5b5c24cb04cbf6a1969afa2d783407885cebe&ipo=images">
}
else if (Peliculas.Count == 0)
{
    <p>No hay peliculas para mostrar</p>
}
else
{
    @foreach (var pelicula in Peliculas)
    {
        <div>
            <p>Titulo: <b>@pelicula.Titulo</b></p>
            @if (DateTime.Today.Subtract(pelicula.FechaLanzamiento).Days <= 14)
            {
                <span style="color:red">(¡Nuevo!)</span>
            }
            <p>Fecha lanzamiento:<b>@pelicula.FechaLanzamiento.ToString("dd MM yyyy")</b></p>
        </div>
    }
}

@*     <h4>Ejemplo for</h4>
    @for (int i = 0; i < Peliculas.Count; i++)
    {
        <div>
            <p>@(i + 1) Titulo: <b>@Peliculas[i].Titulo</b></p>
            <p>Fecha lanzamiento:<b>@Peliculas[i].FechaLanzamiento.ToString("dd MM yyyy")</b></p>
        </div>
    }
 *@
